@import "../../../scss/index.scss";

.social-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    a {
        display: flex;
        margin-right: 10px;
        padding: 5px 9px;
        border-radius: 5px;

        &.twitter {
            background-color: $twitter;
        }

        &.linkedin {
            background-color: $linkedin;
        }

        img {
            width: 15px;
            height: 20px;
        }
    }
}